<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commandocoder.test.streaming"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="streaming test">
        <activity
            android:name="com.commandocoder.test.streaming.PlayerActivity"
            android:label="streaming test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.commandocoder.streaming.StreamingService" />
    </application>
    

</manifest>
